body{
    text-align:center;
    background-color: #FAF8EF;
}
h1{
    color:brown;
    font-weight: 900;
    margin:0;

}
#grid{
    margin:0 auto;
    border:5px solid black;
    height:30rem;
    width:30rem;
    display:flex;
    flex-wrap:wrap;
    box-shadow:0 0 32px black; 
}

.tiles{
    height:6.25rem;
    width:6.25rem;
    background-color:#C5B39D;
    border: 10px solid #A99A88;
}

.tile-2{
    background-color: white;
    color:black;
}

.tile-4{
    background-color: rgba(167, 154, 138, 0.836);
    color:black;
}

.tile-8{
    background-color: orange;
    color:white;
}

.tile-16{
    background-color: orangered;
    color:white;
}

.tile-32{
    background-color: pink;
    color:white;
}

.tile-64{
    background-color: palevioletred;
    color:white;
}

.tile-128{
    background-color: rgb(229, 229, 104);
    color:white;
}

.tile-256{
    background-color: yellow;
    color:white;
}

.tile-512{
    background-color: rgb(158, 158, 26);
    color:white;
}

.tile-1024{
    background-color: cyan;
    color:black;
}

.tile-2048{
    background-color: darkcyan;
    color:black;
}
.tile-4096{
    background-color: blue;
    color:white;
}

.tile-8192{
    background-color: darkblue;
    color:white;
}

.tile-high{
    background-color: blueviolet;
    color:violet;
}
