
body{
    text-align:center;
    background-color: #FAF8EF;
}

p{
    text-align: none;
}
h1{
    color:brown;
    font-weight: 900;
    margin:0;

}
#grid{
    margin:0 auto;
    border:5px solid black;
    height:30rem;
    width:30rem;
    display:flex;
    flex-wrap:wrap;
    box-shadow:0 0 32px black; 
}

div{
    height:6.25rem;
    width:6.25rem;
    background-color:#C5B39D;
    border: 10px solid #A99A88;
    text-align:center;
    font-size: 80px;
}

.tiles-2{
    background-color: white;
    color:black;
}

.tiles-4{
    background-color: rgba(167, 154, 138, 0.836);
    color:black;
}

.tiles-8{
    background-color: orange;
    color:white;
}

.tiles-16{
    background-color: orangered;
    color:white;
}

.tiles-32{
    background-color: pink;
    color:white;
}

.tiles-64{
    background-color: palevioletred;
    color:white;
}

.tiles-128{
    background-color: rgb(229, 229, 104);
    color:white;
}

.tiles-256{
    background-color: yellow;
    color:black;
}

.tiles-512{
    background-color: rgb(158, 158, 26);
    color:grey;
}

.tiles-1024{
    background-color: cyan;
    color:black;
}

.tiles-2048{
    background-color: darkcyan;
    color:black;
}
.tiles-4096{
    background-color: blue;
    color:white;
}

.tiles-8192{
    background-color: darkblue;
    color:white;
}

.tiles-high{
    background-color: blueviolet;
    color:violet;
}

.tiles-16,
.tiles-32 {
    font-size: 65px;
}

.tiles-64,
.tiles-128 {
    font-size: 55px;
}

.tiles-256,
.tiles-512 {
    font-size: 45px;
}

.tiles-1024,
.tiles-2048 {
    font-size: 35px;
}

.tiles-4096,.tiles-8192{
    font-size:25px;
}

.tiles-high{
    font-size:10px;
}